@font-face {
		font-family: "SegoeUIRegular";
		src: url("../fonts/SegoeUIRegular.eot");
		src: url("../fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/SegoeUIRegular.woff") format("woff"),
		url("../fonts/SegoeUIRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "SegoeUIBold";
		src: url("../fonts/SegoeUIBold.eot");
		src: url("../fonts/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/SegoeUIBold.woff") format("woff"),
		url("../fonts/SegoeUIBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "SegoeUILight";
		src: url("../fonts/SegoeUILight.eot");
		src: url("../fonts/SegoeUILight.eot?#iefix")format("embedded-opentype"),
		url("../fonts/SegoeUILight.woff") format("woff"),
		url("../fonts/SegoeUILight.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?50178675');
  src: url('../fonts/fontello.eot?50178675#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?50178675') format('woff2'),
       url('../fonts/fontello.woff?50178675') format('woff'),
       url('../fonts/fontello.ttf?50178675') format('truetype'),
       url('../fonts/fontello.svg?50178675#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUIBlack';
  src: url("../fonts/SegoeUIBlack.eot");
  src: url('../fonts/SegoeUIBlack.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUIBlack.woff') format('woff'),
    url('../fonts/SegoeUIBlack.ttf')  format('truetype'),
    url('../fonts/SegoeUIBlack.svg#SegoeUIBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}


//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color:                true!default;
$use-btn-size:                 false!default;
$use-btn-group:                false!default;
$use-input-group:              false!default;
$use-table:                    true!default;
$use-color-table:              false!default;
$use-column-table:             false!default;
$use-color-text:               true!default;

//modules
$use-accordion:                false!default;
$use-breadcrumb:               false!default;
$use-pagination:               false!default;
$use-pager:                    false!default;
$use-space:                    false!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    false!default;
// grids
$use-adaptive:                 true!default;
$use-flexbox:                  true!default;
$use-bem:                      false!default;
// plugins
$use-animations:               false!default;
$debug-mode:                   false!default;



// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";
