nav.nav.text--right.text__lg--left
    if adaptive == true
        button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
        .main-nav__collapse.anchor
            +menu(navigation)
    else
        +menu(navigation)
