//
// Base -> Tables
// --------------------------------------------------


table {
  background-color: $table-bg;
}
caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  text-align: left;
}
th {
  text-align: left;
}


@if $use-table == true {
  // Baseline styles
  .table {
    width: 100%;
    margin-bottom: 0;
    color: #454545;
		font-family: "SegoeUIRegular";

    img {vertical-align: middle;}
    th,
    td {
      padding: $table-cell-padding;
      line-height: $base-line-height;
      vertical-align: middle;
      &:first-child {
        width: 55%;
      }
      &:not(:first-child) {
        text-align: center;
      }
    }
    > thead th {
      vertical-align: middle;
  		font-family: "SegoeUIBold";
      background-color: #dddddd;
    }

    // Zebra-striping
    @media screen and (min-width: $screen-tablet) {
      &--striped {
        > tbody > tr:nth-of-type(even) {
          background-color: #fff;
        }
      }
    }

    //
    &--hover {
      td:not(:first-child):hover {
        color: #fff;
        background-color: #2f2f2f;
      }
    }

    // Responsive effect
    &--responsive {
      min-height: .01%;
      overflow-x: auto;
    }
  }
  @media screen and (max-width: $screen-sm-max) {

    .table {
      border: 0;
    }

    .table thead {
      display: none;
    }

    .table tr {
      margin-bottom: 20px;
      display: block;
      // border-bottom: 2px solid #ddd;
    }

    .table td {
      display: flex;
      align-items: center;
      text-align: left;
      // font-size: 13px;
      padding-left: 0;
      padding-right: 0;
      border-bottom: 1px dotted #ccc;
      width: 100% !important;
    }

    .table td:last-child {
      border-bottom: 0;
    }

    .table td:before {
      content: attr(data-label);
      width: 50%;
      margin-right: 5%;
      font-weight: bold;
    }
    .table [data-label=""] {
      display: none;
    }
  }
  @media screen and (max-width: $screen-xs-max) {
      .table td {
        font-size: 13px;
      }

  }

  @if $use-column-table == true {
    .t5  { width: 5% }
    .t10 { width:10% }
    .t12 { width:12.5% }     /* 1/8 */
    .t15 { width:15% }
    .t20 { width:20% }
    .t25 { width:25% }       /* 1/4 */
    .t30 { width:30% }
    .t33 { width:33.333% }   /* 1/3 */
    .t35 { width:35% }
    .t37 { width:37.5% }     /* 3/8 */
    .t40 { width:40% }
    .t45 { width:45% }
    .t50 { width:50% }       /* 1/2 */
    .t55 { width:55% }
    .t60 { width:60% }
    .t62 { width:62.5% }     /* 5/8 */
    .t65 { width:65% }
    .t66 { width:66.666% }   /* 2/3 */
    .t70 { width:70% }
    .t75 { width:75% }       /* 3/4*/
    .t80 { width:80% }
    .t85 { width:85% }
    .t87 { width:87.5% }     /* 7/8 */
    .t90 { width:90% }
    .t95 { width:95% }

    // Cell alignments
    .numerical {
      text-align: right;
    }

    // Table backgrounds
    @if $use-color-table == true {
      @include table-row-variant('active', $table-bg-active);
      @include table-row-variant('success', $state-success-bg);
      @include table-row-variant('info', $state-info-bg);
      @include table-row-variant('warning', $state-warning-bg);
      @include table-row-variant('danger', $state-danger-bg);
    }
  }
}
