//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  color: #828282;
  &__top {
    background-color: $white-lighten;
    padding: 20px 0;
  }
  &__bottom {
    background-color: #f8f8f8;
    padding: 20px 0;
  }
  &__contacts {
    &-phone {
      color: #191919;
      i {
        margin-right: 6px;
      }
      b, i {
        vertical-align: middle;
      }
      span {
        font-size: 24px;
      }
    }
    &-mail {
      color: #191919;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
