//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  background: $base-color-main;
  border-bottom: 3px solid $white-lighten;
  padding: 9px 0;
  position: fixed;
  z-index: 90;
  left: 0;right: 0;top: 0;
  .container {
    position: relative;
  }
  &__logo {
    position: absolute;
    top: -29px;
    left: 0;
    @media screen and (min-width: $screen-desktop) {
      left: 138px;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      left: 150px;
    }
    a {text-decoration: none;}
    img {
      vertical-align: middle;
      height: 110px;
      @media screen and (min-width: $screen-tablet) {
        height: auto;
      }
    }
  }
}

.toShare {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    height: 120px;
    margin: auto;
    z-index: 99;
    display: none;
    @media screen and (min-width: $screen-phone) {
      display: block;
    }
    a {
      width: 60px;height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 22px;
      color: $white-lighten;
      display: block;
    }
    &-vk {
      background-color: #4e75a0;
      @include hover(#4e75a0);
    }
    &-fa {
      background-color: #3c589a;
      @include hover(#3c589a);
    }
}

.toTop {
  cursor: pointer;
  display: none;
  position: fixed;
  bottom: 100px;
  right: -50%;
  z-index: 99;
  width: 55px;
  height: 55px;
  line-height: 51px;
  font-size: 20px;
  text-align: center;
  background-color: $base-color-main;
  @include border-radius(55px);
  i {vertical-align: middle;}
  @include hover($base-color-main);
  @media screen and (min-width: $screen-tablet) {
    right: 3%;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    right: 10%;
  }
}


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
