//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

//
// Main container
//
.page-main {
  overflow: hidden;
}


.section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 160px;
    padding-bottom: 100px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    width: 150%;
    left: -25%;
    // right: -35%;
    // margin: 0 auto -90px;
    margin-bottom: -90px;
  }
  @media screen and (min-width: $screen-desktop) {
    border-bottom-left-radius: 43%;
    border-bottom-right-radius: 43%;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    border-bottom-left-radius: 33%;
    border-bottom-right-radius: 33%;
  }
  @media screen and (min-width: 1450px) {
    border-bottom-left-radius: 43%;
    border-bottom-right-radius: 43%;
  }
}

h2 + p {
  margin-bottom: 20px;
  @media screen and (min-width: $screen-tablet) {
    margin-bottom: 55px;
  }
}

//top
.top {
  @extend .section;
  padding-bottom: 0;
  padding-top: 130px;
  z-index: 19;
  h1 {
    background: #fff;
    border-radius: 30px;
    @media screen and (min-width: $screen-xl-desktop) {
      background: transparent;
    }
  }
  @media screen and (min-width: $screen-tablet) {
    padding-top: 100px;
    margin-bottom: -110px;
  }
  @media screen and (min-width: $screen-xl-desktop) {
    background: url('../images/main2.png') no-repeat left 1% bottom, $white-lighten;
  }
  @media screen and (min-width: 1400px) {
    background: url('../images/main2.png') no-repeat left 38% bottom, $white-lighten;
  }
  .slick-list {
    overflow: visible;
  }
  .btn {
    height: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .slick-slide img {
    display: inline-block;
  }
  &-img {
    margin-top: 30px;
    position: relative;
    @media screen and (min-width: $screen-tablet) {
      margin-top: 0;
      top: 70px;
    }
  }
  &__contacts {
    color: #010101;
    @media screen and (min-width: $screen-tablet) {
      position: absolute;
      right: 0;
    }
    &-phone {
      span {
        font-size: 24px;
      }
      i, b {
        vertical-align: middle;
      }
      i {
        margin-right: 6px;
      }
    }
  }
  &-back {
    position: absolute;
    right: -14%;
    top: -11%;
    display: none;
    background: url('../images/main-circle.png') no-repeat right bottom;
    img {
      opacity: 0;
    }
    @media screen and (min-width: $screen-desktop) {
      transform: rotate(1.4deg);
      display: block;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      transform: rotate(1deg);
      right: -11%;
      top: -8.8%;
    }
    @media screen and (min-width: 1450px) {
      transform: rotate(0.1deg);
      top: -9.7%;
    }
    @media screen and (min-width: 1690px) {
      transform: rotate(0.5deg);
      top: -9%;
    }
  }
}


//advantages
.advantages {
  color: $white-lighten;
  background-color: #bababb;
  @extend .section;
  z-index: 18;

  &-list {
    &__item {
      margin-bottom: 20px;
    }
    &__img {
      margin: auto;
      width: 120px;
      height: 127px;
      line-height: 110px;
      text-align: center;
      margin-bottom: 20px;
      background: url('../images/icons.svg') no-repeat center center;
      img {vertical-align: middle;}
    }
    &__title {
      @extend .delta;
      margin-bottom: 30px;
    }
    &__desc {
      line-height: 1.7;
    }
  }
}

//catalog
.catalog {
  background-color: #f8f8f8;
  @extend .section;
  z-index: 17;

  &-list {
    margin-bottom: 20px;
    &__item {
      border-radius: 9px;
      background-color: $white-lighten;
      padding: 15px;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-tablet) {
        height: 100%;
      }
      @media screen and (min-width: $screen-desktop) {
        padding: 20px 30px;
      }
    }
    &__img {
      margin-bottom: 25px;
    }
    &__title {
      @extend .delta;
      text-transform: inherit;
      margin-bottom: 20px;
    }
    &__desc {
      margin-bottom: 25px;
    }
  }
}

//billet
.billet {
  background-color: $white-lighten;
  @extend .section;
  z-index: 16;

  &-list {
    margin-bottom: 40px;
    &__item {
      padding: 30px;
      border-radius: 9px;
      background: url('../images/plate-back.png') no-repeat center center / cover;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-tablet) {
        height: 100%;
      }
    }
    &__img {
    }
  }
}

//packaging
.packaging {
  color: $white-lighten;
  background-color: #696969;
  @extend .section;
  font-size: 20px;
  z-index: 15;

  .add-back {
    display: none;
    @media screen and (min-width: $screen-tablet) {
      display: block;
      position: absolute;
      bottom: -130px;
      right: -100px;
    }
  }
  &-size {
    @media screen and (min-width: $screen-desktop) {
      display: flex;
    }
  }
}

//stand
.stand {
  background-color: #f8f8f8;
  @extend .section;
  z-index: 14;
  @media screen and (min-width: $screen-tablet) {
    margin-bottom: -140px;
    width: 200%;
    left: -50%;
  }

  &-list {
    &__item {
      padding: 20px;
      border-radius: 9px;
      background-color: $white-lighten;
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100% - 20px);
    }
    &__img {
      margin-bottom: 20px;
    }
    &__title {
      @extend h4;
    }
    &__desc {
      @extend .text__lg;
    }
  }
}

//step
.step {
  color: $white-lighten;
  background-color: #dc825d;
  @extend .section;
  z-index: 13;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 210px;
  }

  .btn {
    height: auto;
    min-height: 55px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .select2-container--default .select2-selection--single,
  input {
    border-radius: $btn-border-radius-base;
  }
  &-body {
    .btn {
      font-family: "SegoeUILight";
      border-width: 1px;
    }
  }
}

//layouts
.layouts {
  background: url('../images/layou1.png') no-repeat center center, $white-lighten;
  @extend .section;
  z-index: 12;

  &-list {
    margin-top: 30px;
    text-align: left;
    &__item {
      margin-bottom: 20px;
    }
    &__type {
      margin-bottom: 20px;
      display: flex;
      @media screen and (min-width: $screen-tablet) {
        margin-bottom: 30px;
        height: 100px;
      }
      @media screen and (min-width: $screen-desktop) {
        height: 66px;
      }
      i {
        margin-right: 17px;
        margin-top: 5px;
      }
    }
    &__block {
      padding: 25px;
      line-height: 1.5;
      border-radius: 9px;
      &--redlight {
        background-color: #f7e5dc;
      }
      &--orangelight {
        background-color: #faefe7;
      }
    }
    &__title {
      @extend h4;
      margin-top: 0;
    }
  }
}

//prices
.prices {
  background-color: #efefef;
  @extend .section;
  position: relative;
  z-index: 11;
  &-sale-img {
    position: absolute;
    top: 80px;
    right: 2.5%;
    display: none;
    @media screen and (min-width: $screen-desktop) {
      display: block;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      right: 0;
      top: 70px;
    }
  }
  @media screen and (min-width: $screen-tablet) {
    margin-bottom: -157px;
    width: 200%;
    left: -50%;
    .accordion {
      margin-top: 50px;
    }
  }
}

//sale
.sale {
  color: $white-lighten;
  background-color: #932226;
  @extend .section;
  z-index: 10;
	font-family: "SegoeUIBold";
  @media screen and (min-width: $screen-tablet) {
    padding-bottom: 0;
  }
  @media screen and (min-width: $screen-desktop) {
    // background: url('../images/circle-sale.png') no-repeat center right 33.4%, #932226;
    background: #932226;
  }
  &-top {
    position: absolute;
    right: -12%;
    top: -36%;
    transform: rotate(1deg);
    display: none;
    @media screen and (min-width: $screen-desktop) {
      display: block;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      top: -36.5%;
      transform: rotate(0.8deg);
    }
    @media screen and (min-width: 1450px) {
      top: -37.5%;
      transform: rotate(-0.3deg);
    }
    @media screen and (min-width: 1690px) {
      top: -37%;
      transform: rotate(0.3deg);
    }
  }
  &-desc {
    padding-bottom: 30px;
    @media screen and (min-width: $screen-tablet) {
      padding: 115px 0;
    }
  }
  &-img {
    // position: absolute;
    // top: 22%;
    // right: 29%;
    @media screen and (min-width: $screen-desktop) {
      display: none;
    }
  }
}

//order
.order {
  background-color: $white-lighten;
  @extend .section;
  z-index: 9;

  &-list {
    margin: 60px 0 40px;
    &__item {
      margin-bottom: 20px;
    }
    &__num {
      top: 0;right: 0;
      position: absolute;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      line-height: 36px;
      text-align: center;
  		font-family: "SegoeUIBold";
      color: $white-lighten;
      background-color: #dc825d;
    }
    &__img {
      margin: 0 auto 20px;
      position: relative;
      text-align: center;
      border-radius: 50%;
      line-height: 130px;
      width: 130px;
      height: 130px;
      border: 3px solid $base-color-main;
    }
    &__title {
      @extend h4;
      text-transform: inherit;
      margin-bottom: 15px;
    }
    &__desc {
      line-height: 1.5;
    }
  }
}

//about
.about {
  color: $white-lighten;
  background-color: #696969;
  @extend .section;
  z-index: 8;
  @media screen and (min-width: $screen-desktop) {
    h2 {
      margin-bottom: 0;
    }
    img {
      margin-top: -30px;
    }
  }
}

//contacts
.contacts {
  background-color: $white-lighten;
  @extend .section;
  padding-bottom: 60px;
  z-index: 7;

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @extend .text__lg;
    margin-bottom: 15px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 5px;
    }
    &-ico {
      width: 60px;
      height: 60px;
      margin-right: 15px;
      border: 3px solid #cccccc;
      background-color: $white-lighten;
      position: relative;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: '';
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 1px solid #cccccc;
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        margin: auto;
      }
    }
    &-title {
  		font-family: "SegoeUIBold";
    }
    &-desc {
    }
  }
}

//map
#map {
  height: 320px;
  @media screen and (min-width: $screen-tablet) {
    height: 657px;
  }
}

//addBack
.addBack {
  position: absolute;
  top: 0;
  z-index: 21;
  display: none;
  @media screen and (min-width: $screen-desktop) {
    display: block;
  }
  &-left {
    left: -12%;
    @media screen and (min-width: $screen-xl-desktop) {
      left: -9%;
    }
    @media screen and (min-width: 1400px) {
      left: 0;
    }
  }
  &-right {
    right: -12%;
    @media screen and (min-width: $screen-xl-desktop) {
      right: 0;
    }
  }
}
