//
// Modules -> Accordion
// --------------------------------------------------

@if $use-accordion == true {
	.accordion {
		&__item {
			width: 100%;
			background: $accordion-bg;
			color: $accordion-color;
      & + & {
        margin-top: $accordion-margin-top;
      }
		}
		&__header {
			border-bottom: solid 1px $base-color-dark;
			cursor: pointer;
			padding: $accordion-padding-horizontal $accordion-padding-vertical;
      position: relative;
      display: none;
			.icon {
				position: absolute;
        right: 10px;
        top: 0;bottom: 0;margin: auto;
        height: 100%;
				transition: transform .3s;
			}
      &:hover .icon {
        transform: rotate(90deg);
      }
		}
		&__content {
			display: none;
			width: 100%;
			padding: $accordion-padding-horizontal $accordion-padding-vertical;
      &.active {
        display: block;
      }
		}
	}
}
