//
// Modules -> Navs
// --------------------------------------------------


.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 14px;
	font-family: "SegoeUIBold";
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: $screen-adaptive-nav) {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
    @media screen and (min-width: $screen-adaptive-nav) {
      &:first-child {
        margin-right: 150px;
      }
    }
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    @include transition(none);
    color: $white-lighten;
    @if $use-adaptive == true {
      background-color: $base-color-main;
      @media screen and (min-width: $screen-adaptive-nav) {
        padding: 20px 15px;
        background-color: transparent;
      }
    } @else {
      background-color: transparent;
    }
    &:hover, &:focus {
      color: $white-lighten;
      // text-decoration: underline;
      background: url('../images/icons/hover.svg') no-repeat top right;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      padding: 9px 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 30px;
        height: 2px;
        background: #fff;
        border-radius: 1px;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
      @include clearfix;
      -webkit-overflow-scrolling: touch;
      position: absolute;
      top: 100%;
      left: 0;right: 0;
      display: none;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        border-top: 0;
        box-shadow: none;
        position: static;
        margin: 0 -20px;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
          position: static;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}
