//
// Modules -> Utility classes
// --------------------------------------------------

//
// close btn
//
.close {
  position: absolute;
  right: 5px;
  top: 35px;
  @include opacity(1);
  text-decoration: none;
  @media screen and (min-width: $screen-tablet) {
    right: 30px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
    @include opacity(.5);
  }
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


.centered-block {
  @include center-block;
}
.pulled-right {
  float: right;
}
.pulled-left {
  float: left;
}

@if $use-adaptive == true and $use-flexbox == false {
  @media screen and (min-width: $screen-sm-min) {
    .pulled__sm-left   { float: left; }
    .pulled__sm-right  { float: right; }
  }
  @media screen and (min-width: $screen-md-min) {
    .pulled__md-left   { float: left; }
    .pulled__md-right  { float: right; }
  }
  @media screen and (min-width: $screen-lg-min) {
    .pulled__lg-left   { float: left; }
    .pulled__lg-right  { float: right; }
  }
  @media screen and (min-width: $screen-xl-min) {
    .pulled__xl-left   { float: left; }
    .pulled__xl-right  { float: right; }
  }
}

.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}
