footer.page-footer
  .page-footer__top
    .container
      .is-row.is-row--null.between__md.middle__xs.center__xs
        .page-footer__copyright= index.footer
        .page-footer__contacts.text__md--right.text--center
          .page-footer__contacts-phone
            i.is-icons.is-icons--phone
            b 8-800-#[span.text--primary 770-74-99]
          .page-footer__contacts-mail
            a(href='mailto:tarelkami@mail.ru') tarelkami@mail.ru
  .page-footer__bottom
    .container
      .is-row.is-row--null.between__md.center__xs
        div: a(href='#') Политика конфиденциальности
        div: a(href='#') Разработано в Alkodesign
