$icons: (
	  sprite: (width: 337px, height: 45px, svgPath: '../images/svg/sprite.svg'),
 	arr-up: (width: 20px, height: 25px, backgroundX: 0px, backgroundY: 0px),
 	btn-arr: (width: 19px, height: 20px, backgroundX: -40px, backgroundY: 0px),
 	date: (width: 20px, height: 20px, backgroundX: -79px, backgroundY: 0px),
 	layout: (width: 16px, height: 11px, backgroundX: -119px, backgroundY: 0px),
 	location: (width: 15px, height: 20px, backgroundX: -155px, backgroundY: 0px),
 	mail: (width: 21px, height: 15px, backgroundX: -190px, backgroundY: 0px),
 	phone: (width: 13px, height: 15px, backgroundX: -231px, backgroundY: 0px),
 	phone-b: (width: 13px, height: 15px, backgroundX: -264px, backgroundY: 0px),
 	phone-plus: (width: 20px, height: 21px, backgroundX: -297px, backgroundY: 0px),
);
