main.page-main
  section#top.top
    .container.relative
      .top-back
        img(src='images/main-circle.png', alt='')
      .top__contacts.text__md--right.text--center 
        .top__contacts-phone
          i.is-icons.is-icons--phone-b
          b 8-800-#[span 770-74-99]
        .top__contacts-mail
          a(href='mailto:tarelkami@mail.ru') tarelkami@mail.ru
      .slider
        - for (var x = 1; x < 4; x++)
          div
            .is-row.is-row--null.middle__xs
              .is-col.is-col__lg-4.is-col__md-5.is-col__xs-12
                h1.text--warning Заготовки тарелок для сублимации
                h4 на заказ Оптом от #{x}0 штук
                p.text__md Полный цикл производства. #[br] Мы сами производим тарелки #[br] с сублимационным слоем
                .margtop30
                  +btn('ЗАКАЗАТЬ', 'primary', true)
              .is-col.is-col__lg-8.is-col__md-7.is-col__xs-12.text--right
                .top-img
                  img(src='images/plate.png', alt='')
  
  //-advantages
  section#advantages.advantages.text--center 
    .container
      +title('наши Преимущества', 'Несколько причин, почему выбирают нас')
      +adv(adv)
      
  section.relative
    .addBack.addBack-right(style='top: -100px')
      img(src='images/catalog.png', alt='')  
  
  //-catalog
  section#catalog.catalog.text--center
    .container
      +title('примеры готовых тарелок', 'Вы можете заказать сувенирные тарелки со своим индивидуальным изображением')
      +plate(plate)
      +btn('ЗАКАЗАТЬ', 'primary', true)
      
  section.relative
    .addBack.addBack-left(style='top: -200px')
      img(src='images/billet.png', alt='')  
    
  //-billet
  section#billet.billet.text--center
    .container
      +title('Заготовки', 'Для нанесения изображения, доступны белые фарфоровые тарелки размерами 12,5см, 20 см и 30 см')
      .billet-list.is-row.sctretch__xs
        - for (var x = 4; x < 7; x++)
          .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12
            .billet-list__item
              .billet-list__img
                img(src='images/plate-'+x+'.png', alt='')
      .anchor-on
        a(href='#prices-on', class="btn btn--primary btn--icons")
          i.is-icons.is-icons--btn-arr
          span узнать стоимость
  
  //-packaging
  section#packaging.packaging
    .container.relative
      .add-back
        img(src='images/packaging.svg', alt='')
      .text--center
        +title('упаковка', 'У вас есть возможность заказать тарелку с упаковой и без')
      .is-row.middle__xs
        .is-col.is-col__lg-7.is-col__md-6.is-col__xs-12
          .is-row
            .slider-for.is-col__lg-8.is-col__xs-12.is-col
              - for (var x = 1; x < 4; x++)
                div: img(src='images/packaging-1.jpg', alt='')
            .slider-nav.is-col__lg-4.is-col__xs-12.is-col
              - for (var x = 2; x < 5; x++)
                div: img(src='images/packaging-'+x+'.jpg', alt='')
        .is-col.is-col__lg-5.is-col__md-6.is-col__xs-12
          b Основные харрактеристики упаковки:
          p Упаковка представляет собой квадратную коробку выполненную из картона белого цвета с внешней стороны, и бурого цвета с внутренней. #[br] На крышке коробки расположено окно круглой формы.
          p.packaging-size            
            b Размеры коробок:  
            span  21х21 см #[br] 13х13 см
          p.packaging-size            
            b Размеры подставок (высота):  
            span  Белые - 9 см, 12 см #[br] Прозрачные - 10 см, 12 см, 18 см
      .text--center.margtop30
        +btn('заказать', 'outlined', true)
      
  //-stand
  section#stand.stand.text--center
    .container
      +title('подставка', 'Предлагаем на выбор 3 вида подставок')
      +stand(stand)
      .margtop30
        +btn('заказать', 'primary', true)        
        
  section.relative
    .addBack.addBack-left(style='top:40px')
      img(src='images/step.svg', alt='')     
        
  //-order
  section#layouts.step.text--center
    .container
      +title('закажите сувенирные тарелки', 'Всего 3 шага отделяют Вас от готовых сувенирных тарелок или тарелок с вашим изображением')      
      .steps-list
        .step-title 1
        .step-body 
          p.margbot20: b Выберите из выпадающего списка тарелки, которые хотите заказать и укажите количество
          .is-row
            .is-col.is-col__lg-10.is-col__md-8.is-col__xs-12
              .form__group
                select.control
                  option Тарелка с индивидуальным изображением фарфор белая с золотым отводом 300 мм, с подставкой, без упаковки
                  option Тарелка с индивидуальным изображением фарфор белая с золотым отводом 300 мм, с подставкой, без упаковки
            .is-col.is-col__lg-2.is-col__md-4.is-col__xs-12
              .form__group
                input.control(type='text', placeholder='Кол-во', name='count')
        .step-title 2
        .step-body 
          p.margbot20: b Заполните ваши контактные данные, чтобы мы могли с вами связать
          .is-row
            .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
              .form__group
                input.control(type='text', placeholder='ФИО', name='name')
            .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
              .form__group
                input.control(type='text', placeholder='Телефон', name='phone')
            .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
              .form__group
                input.control(type='email', placeholder='Email', name='email')
            .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
              .form__group
                input.control(type='text', placeholder='Адрес', name='adr')
        .step-title 3
        .step-body 
          p.margbot20: b Заполните ваши контактные данные, чтобы мы могли с вами связать
          .is-row.center__xs
            .is-col.is-col__xl-3.is-col__md-4.is-col__sm-6.is-col__xs-12
              .form__group.text--left
                select.control
                  option(default, disabled) Способ доставки
                  option Способ доставки
                  option Способ доставки
                  option Способ доставки
            .is-col.is-col__xl-3.is-col__md-4.is-col__sm-6.is-col__xs-12
              .form__group.text--left
                select.control
                  option(default, disabled) Способ оплаты
                  option Способ оплаты
                  option Способ оплаты
                  option Способ оплаты
            .is-col.is-col__xl-3.is-col__md-4.is-col__sm-6.is-col__xs-12
              .form__group
                .input__file
                  input.control.input__file-js(type='file')
                  a.btn.btn--full.btn--outlined.text--lowercase(href='#') Загрузите свой дизайн
  
  //-layouts    
  section.layouts.text--center
    .container
      .text--center
        h2 требования к макету
      +layouts(layouts)
  
  //-prices
  section#prices.prices
    .container.relative
      .text--center
        h2 цены
      .accordion
        .accordion__item
          .accordion-header Цены на тарелки с нанесением индивидуального изображения (в рублях)
          .accordion-body
            +tables(table1)
        .accordion__item#prices-on
          .accordion-header Цены заготовок (в рублях)
          .accordion-body
            +tables(table2)
        .accordion__item
          .accordion-header Цены на упаковку (в рублях)
          .accordion-body
            +tables(table3)
        .accordion__item
          .accordion-header Цены на подставки (в рублях)
          .accordion-body
            +tables(table4)
    .container.relative
      .prices-sale-img
        img(src='images/sale.png', alt='')
              
  section.relative
    .addBack.addBack-right(style='top:50px;right:70px')
      img(src='images/sale.svg', alt='') 
          
  //-sale
  section.sale.relative
    .container.relative
      .sale-top
        img(src='images/circle-sale1.png', alt='')
      .is-row.middle__xs
        .is-col.is-col__lg-6.is-col__md-5.is-col__xs-12
          .sale-desc
            h2 СКИДКА
            h4 при заказе более 100 тарелок #[br] для 3D сублимации
            .margtop30
              +btn('заказать', 'outlined', true)
        .is-col.is-col__lg-6.is-col__md-7.is-col__xs-12
          .sale-img
            img(src='images/sale.png', alt='')
            
  section.relative
    .addBack.addBack-left(style='left:70px;top: -20px;')
      img(src='images/order.svg', alt='') 
  
  //-order
  section#order.order.text--center
    .container
      h2 условия заказа
      +order(order)
      +btn('оставить заявку', 'primary', true)
      
  section.relative
    .addBack.addBack-left(style='top: -70px')
      img(src='images/about-left.png', alt='')
  section.relative
    .addBack.addBack-right(style='')
      img(src='images/about-right.png', alt='')
      
  //-about
  section#about.about
    .container
      .text--center
        h2 О нас
      .is-row.bottom__xs
        .is-col.is-col__lg-6.is-col__xs-12.last__lg.text__lg--left.text--center
          img(src='images/about.png', alt='')
        .is-col.is-col__lg-6.is-col__xs-12
          p.text__lg С 2009 года компания Акристо занимается производством сувениров из Мрамора Креави®. Изготовленные из этого материала изделия имеют яркую запоминающуюся внешность и отличное качество.
          p.text__lg.margtop30 Мы в первую очередь ориентируемся на качество производимой нами продукции, и конечно же на пожелания клиента. Мы готовы и открыты к сотрудничеству. И будем рады обсудить с вами все условия сотрудничества, доверительно, как со своим старым другом. Надеемся на плодотворное сотрудничество.
      .text--center.margtop50
        +btn('связаться с нами', 'outlined', true)
  
  //-contacts
  section#contacts.contacts
    .container
      .text--center
        h2 контакты
      .is-row.margtop30
        .is-col.is-col__lg-6.is-col__xs-12
          .contacts__item
            .contacts__item-ico
              i.is-icons.is-icons--location
            .contacts__item-title.is-col__md-4.is-col__xs-8 Наш адрес: 
            .contacts__item-desc.is-col__md-6.is-col__xs-12 Россия Санкт-Петербург 
          .contacts__item
            .contacts__item-ico
              i.is-icons.is-icons--date
            .contacts__item-title.is-col__md-4.is-col__xs-8 График работы: 
            .contacts__item-desc.is-col__md-6.is-col__xs-12 Октябрьская набережная 50 #[br] Пн-птн с 9:00-18:00
        .is-col.is-col__lg-6.is-col__xs-12
          .contacts__item
            .contacts__item-ico
              i.is-icons.is-icons--phone-plus
            .contacts__item-title.is-col__lg-3.is-col__md-4.is-col__xs-8 Телефон:  
            .contacts__item-desc.is-col__lg-7.is-col__md-6.is-col__xs-12 8-499-277-29-90 МСК #[br] 8-812-448-19-77 СПб #[br] 8-800-770-74-99 Бесплатно по РФ
          .contacts__item
            .contacts__item-ico
              i.is-icons.is-icons--mail
            .contacts__item-title.is-col__lg-3.is-col__md-4.is-col__xs-8 Email: 
            .contacts__item-desc.is-col__lg-7.is-col__md-6.is-col__xs-12 tarelkami@mail.ru          
  //-map
  section.map
    #map(style='width:100%;')  
          
          
          
