//- mixins


//- menu
mixin menu(items)
    ul.main-nav
        each item in items
            - var parent  = ''
            - if(item.subitems !== false) parent='main-nav__item--parent'
            li.main-nav__item(class=parent)
                a.main-nav__link(href=item.href, title=item.title)= item.title
                - if(item.subitems !== false)
                    ul.sub-nav
                        each subitem in item.subitems
                            li.main-nav__item
                                a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title


//- form-input
mixin fieldInput(type, name, id, label, placeholder, data, required)
    label(for=id)= label
    input.control(type=type, name=name, id=id, placeholder=placeholder, data-label=data, required=required)

//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, data, required)
    label(for=id)= label
    textarea.control(name=name, id=id, placeholder=placeholder, rows=rows,  data-label=data, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name
        
        
mixin title(name, desc)
    h2= name
    p.text__lg= desc
        
mixin btn(name, type, icon)
  - if(icon !== false) parent='btn--icons'
  a.btn.popup(href='#form', class="btn--"+type+" "+parent)
    - if(icon)
      i.is-icons.is-icons--btn-arr
    span= name
        
//- components
mixin adv(items) 
  .advantages-list.is-row
      each item in items
        .advantages-list__item.is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
          .advantages-list__img
            img(src="images/" + item.img, alt=item.title)
          .advantages-list__title= item.title
          .advantages-list__desc= item.desc
mixin plate(items)
  .catalog-list.is-row.stretch__xs
      each item in items
        .is-col.is-col__md-4.is-col__xs-12
          .catalog-list__item
            .catalog-list__img
              img(src="images/" + item.img, alt=item.title)
            .catalog-list__title= item.title
            .catalog-list__desc= item.diam
mixin stand(items)
  .stand-list.is-row.center__xs.stretch__xs 
      each item in items
        .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12
          .stand-list__item
            .stand-list__img
              img(src="images/" + item.img, alt=item.title)
            .stand-list__title= item.title
            .stand-list__desc= item.diam
mixin layouts(items)
  .layouts-list.is-row.center__xs
      each item in items
        .layouts-list__item.is-col.is-col__md-4.is-col__xs-12
          .layouts-list__type
            i.is-icons.is-icons--layout
            = item.type  
          .layouts-list__block(class='layouts-list__block'+item.class)
            .layouts-list__title= item.title
            .layouts-list__desc= item.desc
mixin order(items)
  .order-list.is-row.center__xs
      each item in items
        .order-list__item.is-col.is-col__lg-3.is-col__md-6.is-col__xs-12
          .order-list__img
            .order-list__num= item.num
            img(src="images/" + item.img, alt=item.title)
          .order-list__title= item.title
          .order-list__desc= item.desc
mixin tables(items)
  table.table.table--striped.table--hover
    each item in items
      thead
        tr
          each thead in item.thead
            th= thead
      tbody     
        each tbody in item.tbody            
          each itemtbody in tbody
            tr
              each line in itemtbody
                td.relative(data-label=line.name)
                  = line.value
                  .order-btn
                    a.btn.btn--primary.btn--icons.popup(href='#form', data-id=line.value)
                      i.is-icons.is-icons--btn-arr
                      span Заказать
          
