//- Custom Configuration
block config
  - var baseUrl = '/'
  -var adaptive = true // choose website type
  
doctype html
html(lang="en")

  include ../mixins/_mixins

  head
    meta(charset="UTF-8")

    block title
        title Case__fly
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    <![endif]-->
    if adaptive == true
      meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Custom Jade/Scss/Gulp/Bower template")
    meta(name="keywords", content="jade, scss, gulp, npm, bower, template, html5, css3")

    meta(name='author', content='SadDeploy')
    link(rel="canonical" href="http://www.noob-ui.ru/")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")

    // iOS
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="Case__fy")
    link(rel="apple-touch-icon", href="images/touch/apple-touch-icon.png")

    // Android
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="theme-color", content="#f8aa27")
    link(rel="icon" type="image/png" href="images/touch/android-chrome-192x192.png" sizes="192x192")

    // Windows
    meta(name="msapplication-TileImage", content="images/touch/mstile-144x144.png")
    meta(name="msapplication-TileColor", content="#f8aa27")

    // Standard
    link(rel="icon", type="image/png", href="images/touch/favicon.png", sizes="128x128")

    link(rel="shortcut icon", href="favicon.ico")

    // Styles
    //- build:css({.tmp,app}) styles/plugins.css -->
    <!--bower:css-->
    <link rel="stylesheet" href="../bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="../bower_components/magnific-popup/dist/magnific-popup.css" />
    <link rel="stylesheet" href="../bower_components/jquery.steps/demo/css/jquery.steps.css" />
    <!--endbower-->
    <link rel="stylesheet" href="../bower_components/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" href="../bower_components/select2/dist/css/select2.css" />
    //- endbuild -->
    //- build:css({.tmp,app}) styles/main.css -->
    link(rel="stylesheet", href="styles/main.css")
    //- endbuild -->

  block pageName
    -var pageName = "main"

  body(class="page-" + pageName)
    <!--[if lt IE 9]>
    p.browsehappy
      | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
      a(href="http://browsehappy.com/", target="_blank") современных браузеров.
      |  Это бесплатно и займет всего несколько минут.
    <![endif]-->
    
    #form.mfp-hide.white-popup
        .white-popup-header
          h2 Связаться с нами
          a.close.popup-modal-dismiss(href="#"): img(src="images/icons/close.svg", alt="")
        .white-popup-body
          form(action="" method="method")
              p У Вас есть вопросы по сувенирным тарелкам?  #[br] Оставье заявку и наш менеджер свяжется с вами.
              .is-row
                .is-col.is-col__md-6.is-col__xs-12
                  .form__group.margtop30
                      input.control(type="text", placeholder="Имя", name="name")
                .is-col.is-col__md-6.is-col__xs-12
                  .form__group.margtop30
                      input.control(type="text", placeholder="Телефон", name="phone")
              .form__group.margtop30
                  button.btn.btn--primary(type="submit") Позвоните мне
                
    #toTop.toTop
      i.is-icons.is-icons--arr-up
        
    .toShare
      a.toShare-vk(href='#'): i.icon-vkontakte
      a.toShare-fa(href='#'): i.icon-facebook
        
    //- header
    block siteHeader
    //- main
    block siteMain
    //- footer
    block siteFooter

    block scripts
      <!--[if lt IE 9]>
      script(src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")
      <![endif]-->
      //- build:js(./app/) scripts/plugins.js -->
      <!--bower:js-->
      <script src="../bower_components/jquery/dist/jquery.js"></script>
      <script src="../bower_components/slick-carousel/slick/slick.js"></script>
      <script src="../bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
      <script src="../bower_components/jquery.steps/build/jquery.steps.js"></script>
      <script src="../bower_components/select2/dist/js/select2.js"></script>
      <!--endbower-->
      <script src="scripts/plugins/jquery.maskedinput.min.js"></script>
      //- endbuild -->
      <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
      //- build:js(.tmp) scripts/main.js -->
      script(src="scripts/main.js")
      //- endbuild -->

      //- Google Analytics: change UA-XXXXX-X to be your site's ID.
        script.
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');
